# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mojarras/domains/mojarrastudio.com/public_html/partyphotoapp/backend"
PassengerBaseURI "/partyphotoapp/backend"
PassengerPython "/home/mojarras/virtualenv/domains/mojarrastudio.com/public_html/partyphotoapp/backend/3.10/bin/python"
PassengerAppLogFile "/home/mojarras/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END